body {
    background-image: url('ex1.webp'); /* Chemin vers votre image */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    font-family: Arial, sans-serif; /* Exemple de style de police */
    
}